/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of CSS reset*/


/*Global style begin*/
body{background:#fff; color:#333; font-family:'Montserrat','Open Sans','Arial','Helvetica','Roboto', sans-serif;}
div{box-sizing:border-box;}
/*Global style end*/

/*Typo begins*/
div.rtf{padding: 40px; margin:0;}
div.rtf p{font-size:1em;line-height:1.5em; margin-bottom:0.5em;}
div.rtf h1{font-size:3.2em;line-height:1.5em; margin-bottom:0.5em; margin-top:1em;}
div.rtf h2{font-size:2.4em;line-height:1.5em; margin-bottom:0.5em; margin-top:1em;}
div.rtf h3{font-size:1.8em;line-height:1.5em; margin-bottom:0.5em; margin-top:1em;}
div.rtf h4{font-size:1.2em;line-height:1.5em; margin-bottom:0.5em; margin-top:1em;}
/*Typo ends*/

/*Cards style begins*/
div.cards{max-width:1200px; margin:0 auto; padding:3vw;
	display:grid; grid-gap: 3vw; grid-template-columns:repeat(auto-fill,minmax(200px,1fr));}
	div.card img{width:100%;filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.47));}
/*Cards style begins*/

/*Cards2 style begins*/
div.cards2{display:grid; grid-gap: 10px;}
div.card2 img{width:100%;filter:drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.47));}
div.cards2.col3{grid-template-columns: 1fr 1fr 1fr;}
div.cards2.col2{grid-template-columns: 1fr 1fr;}
div.cards2.col1{grid-template-columns: 1fr;}
/*Cards2 style begins*/

/*cards3 style begins*/
div.cards3{display:grid; grid-gap: 10px;}
div.card3 img{filter:drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.47));}
div.cards3.col2{grid-template-columns: 1fr 1fr;}
div.cards3.col1{grid-template-columns: 1fr;}
/*cards3 style begins*/

/* Image and text styles begins*/
div.img_txt{max-width:1200px; margin:0 auto;
	display:grid; grid-template-columns: 1fr 1fr; grid-gap:3vw; padding:3vw;
}
div.img_txt img{width:100%; margin-bottom:3vw;}
div.img_txt div.rtf{align-self:start;}

div.img_txt.col3{display:grid; grid-template-columns: 3fr 2fr 1fr; max-width:none;}
div.img_txt.col4{display:grid; grid-template-columns: 3fr 2fr; max-width:none;}

@media screen AND (max-width:1200px)
{
	div.img_txt.col3{grid-template-columns: 1fr;}
	div.cards2.col3{grid-template-columns: 1fr 1fr;}
	div.cards2.col2{grid-template-columns: 1fr 1fr;}
	div.cards2.col1{grid-template-columns: 1fr 1fr;}

	div.img_txt.col4{grid-template-columns: 1fr;}
	div.cards3.col2{grid-template-columns: 1fr 1fr;}
	div.cards3.col1{grid-template-columns: 1fr 1fr;}
}

@media screen AND (max-width:800px)
{
	div.img_txt.col3{grid-template-columns: 1fr;}
	div.cards2.col3{grid-template-columns: 1fr;}
	div.cards2.col2{grid-template-columns: 1fr;}
	div.cards2.col1{grid-template-columns: 1fr;}

	div.img_txt.col4{grid-template-columns: 1fr;}
	div.cards3.col2{grid-template-columns: 1fr;}
	div.cards3.col1{grid-template-columns: 1fr;}
}
}

@media screen AND (orientation: portrait)
{
	div.img_txt{grid-template-columns: 1fr;}
	div.img_txt div.rtf{grid-row-start:1;}


}
/* Image and text styles ends*/

/*Hero image styles begins*/
div.hero{min-height:100vh; position:relative;}
img.hero-img{width:100%; }
div.hero div.hero-txt{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:80vmin;
}
div.hero div.hero-grid{display:grid; grid-template-columns: 1fr 1fr;}
div.hero div.hero-txt h2{display:inline-block; padding:1vw; margin: 0; text-align:center; justify-self:end; align-self:center;
border-right:1px solid #333; font-size:max(2vmin,12px);}
div.hero div.hero-txt p{display:inline-block;  padding:1vw; margin:  0; text-align:center;justify-self:start;align-self:center;
font-size:max(2vmin,12px);}

/*Hero image styles ends*/

/*line style begins*/
hr{
	width: 80%;
	margin-left: 5; margin-right: 5; margin-top: 5; margin bottom: 5;
	background-color: #000;
}
/*line style ends*/










/**/
